# Add the new package in this file and then run the below command. It will build requirements.txt
# pip-compile --output-file requirements.txt requirements.in
# See outdated requirements in this file by running `python manage.py list_outdated`

# Django-related dependencies
Django==4.1.7

# Devops-related dependencies
psycopg2==2.9.5

# Dev dependency
pip-tools==6.12.3
black==23.3.0
